.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 200px;
    position: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contacts {
    width: 350px;
    /*margin: 0 auto;*/
    float: left;
}

#source {
    float: right;
}

.search-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.contacts-list {
    padding: 0;
    width: 100%;
}

.contact {
    min-height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted grey;
    cursor: pointer;
}

.contact-image {
    position: absolute;
    top:0;
    border-radius: 50%;
    margin: 10px;
}

.contact-name {
    margin-left:100px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:5px;
}

.contact-number {
    margin-left:100px;
    font-size: 18px;
    color: grey;
    margin-bottom:5px;
}
.contact-email {
    margin-left:100px;
    font-size: 18px;
    color: grey;
    margin-bottom:5px;
}
.about {
    margin-left:100px;
    font-weight: bold;
    margin-bottom:5px;
}